<a href="https://colab.research.google.com/github/ShaunakSen/problem-solving-with-code/blob/master/AdventOfCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advent of Code 2021

> https://adventofcode.com/2021

---

## Day 1 Part 1

In [14]:
import numpy as np
import pandas as pd
from copy import deepcopy

In [25]:
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['depth'])

In [ ]:
prev_depth = [None] + list(data['depth'])[0: len(data)-1]

In [28]:
def count_increasing_rows(data, col='depth'):
  data = deepcopy(data)
  ### create a prev_depth col
  prev_depth = [None] + list(data[col])[0: len(data)-1]
  data['prev_col'] = prev_depth


  return len(data.query(f'{col} > prev_col'))


count_increasing_rows(data)

1228

## Day 1 Part 2

In [17]:
data.head()

   depth
0    196
1    197
2    176
3    182
4    179

In [10]:
data.rolling(window=3).sum()

        depth  prev_depth  prev_col
0         NaN         NaN       NaN
1         NaN         NaN       NaN
2       569.0         NaN       NaN
3       555.0       569.0     569.0
4       537.0       555.0     555.0
...       ...         ...       ...
1995  11124.0     11115.0   11115.0
1996  11136.0     11124.0   11124.0
1997  11155.0     11136.0   11136.0
1998  11172.0     11155.0   11155.0
1999  11175.0     11172.0   11172.0

[2000 rows x 3 columns]

In [29]:
def count_increasing_rows_window(data, window=3):
  data = deepcopy(data)
  data['rolling_depth'] = data.rolling(window=3).sum()
  
  return count_increasing_rows(data, col='rolling_depth')

count_increasing_rows_window(data)

1257

## Day 2 Part 1

In [53]:
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['instruction'])

In [54]:
data.head()

  instruction
0   forward 2
1      down 4
2      down 1
3      down 4
4   forward 3

In [55]:
instructions_pair = [instruction_.split(' ') for instruction_ in data['instruction']]

direction = [pair_[0] for pair_ in instructions_pair]
value = [int(pair_[1]) for pair_ in instructions_pair]

data['direction'] = direction
data['value'] = value

In [56]:
data['is_horizontal'] = [1 if dir_ == 'forward' else 0 for dir_ in data['direction']]

In [57]:
data.head()

  instruction direction  value  is_horizontal
0   forward 2   forward      2              1
1      down 4      down      4              0
2      down 1      down      1              0
3      down 4      down      4              0
4   forward 3   forward      3              1

In [ ]:
list(data['value']* data['is_horizontal'])

In [59]:
total_forward = np.sum(data['value']* data['is_horizontal'])

In [60]:
total_forward

1970

In [61]:
data['downward'] = [1 if dir_ == 'down' else -1 if dir_ == 'up' else 0 for dir_ in data['direction']]
data.head()

  instruction direction  value  is_horizontal  downward
0   forward 2   forward      2              1         0
1      down 4      down      4              0         1
2      down 1      down      1              0         1
3      down 4      down      4              0         1
4   forward 3   forward      3              1         0

In [62]:
data.sample(10)

    instruction direction  value  is_horizontal  downward
910      down 6      down      6              0         1
85       down 3      down      3              0         1
165      down 4      down      4              0         1
25       down 1      down      1              0         1
328        up 2        up      2              0        -1
447   forward 7   forward      7              1         0
282      down 3      down      3              0         1
768        up 8        up      8              0        -1
549   forward 3   forward      3              1         0
383   forward 8   forward      8              1         0

In [63]:
total_depth = np.sum(data['value']* data['downward'])

total_depth

916

In [64]:
total_forward * total_depth

1804520

In [65]:
def calculate_final_position(data):
  data = deepcopy(data)
  instructions_pair = [instruction_.split(' ') for instruction_ in data['instruction']]

  direction = [pair_[0] for pair_ in instructions_pair]
  value = [int(pair_[1]) for pair_ in instructions_pair]

  data['direction'] = direction
  data['value'] = value

  data['is_horizontal'] = [1 if dir_ == 'forward' else 0 for dir_ in data['direction']]
  data['downward'] = [1 if dir_ == 'down' else -1 if dir_ == 'up' else 0 for dir_ in data['direction']]

  total_forward = np.sum(data['value']* data['is_horizontal'])
  total_depth = np.sum(data['value']* data['downward'])


  return total_forward * total_depth
  
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['instruction'])
calculate_final_position(data)

1804520

## Day 2 Part 2