<a href="https://colab.research.google.com/github/ShaunakSen/problem-solving-with-code/blob/master/AdventOfCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['depth'])

In [19]:
prev_depth = [None] + list(data['depth'])[0: len(data)-1]

In [11]:
data.tail()

      depth
1995   3706
1996   3725
1997   3724
1998   3723
1999   3728

In [17]:
data.head()

   depth
0    196
1    197
2    176
3    182
4    179

In [21]:
prev_depth[1], prev_depth[-1]

(196, 3723)

In [22]:
data['prev_depth'] = prev_depth

In [25]:
data.head(10)

   depth  prev_depth
0    196         NaN
1    197       196.0
2    176       197.0
3    182       176.0
4    179       182.0
5    177       179.0
6    171       177.0
7    172       171.0
8    170       172.0
9    147       170.0

In [28]:
len(data.query('depth > prev_depth'))

1228