<a href="https://colab.research.google.com/github/ShaunakSen/problem-solving-with-code/blob/master/AdventOfCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Advent of Code 2021

> https://adventofcode.com/2021

---

## Day 1 Part 1

In [3]:
import numpy as np
import pandas as pd
from copy import deepcopy

In [25]:
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['depth'])

In [ ]:
prev_depth = [None] + list(data['depth'])[0: len(data)-1]

In [28]:
def count_increasing_rows(data, col='depth'):
  data = deepcopy(data)
  ### create a prev_depth col
  prev_depth = [None] + list(data[col])[0: len(data)-1]
  data['prev_col'] = prev_depth


  return len(data.query(f'{col} > prev_col'))


count_increasing_rows(data)

1228

## Day 1 Part 2

In [17]:
data.head()

   depth
0    196
1    197
2    176
3    182
4    179

In [10]:
data.rolling(window=3).sum()

        depth  prev_depth  prev_col
0         NaN         NaN       NaN
1         NaN         NaN       NaN
2       569.0         NaN       NaN
3       555.0       569.0     569.0
4       537.0       555.0     555.0
...       ...         ...       ...
1995  11124.0     11115.0   11115.0
1996  11136.0     11124.0   11124.0
1997  11155.0     11136.0   11136.0
1998  11172.0     11155.0   11155.0
1999  11175.0     11172.0   11172.0

[2000 rows x 3 columns]

In [29]:
def count_increasing_rows_window(data, window=3):
  data = deepcopy(data)
  data['rolling_depth'] = data.rolling(window=3).sum()
  
  return count_increasing_rows(data, col='rolling_depth')

count_increasing_rows_window(data)

1257

## Day 2 Part 1

In [53]:
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['instruction'])

In [54]:
data.head()

  instruction
0   forward 2
1      down 4
2      down 1
3      down 4
4   forward 3

In [55]:
instructions_pair = [instruction_.split(' ') for instruction_ in data['instruction']]

direction = [pair_[0] for pair_ in instructions_pair]
value = [int(pair_[1]) for pair_ in instructions_pair]

data['direction'] = direction
data['value'] = value

In [56]:
data['is_horizontal'] = [1 if dir_ == 'forward' else 0 for dir_ in data['direction']]

In [57]:
data.head()

  instruction direction  value  is_horizontal
0   forward 2   forward      2              1
1      down 4      down      4              0
2      down 1      down      1              0
3      down 4      down      4              0
4   forward 3   forward      3              1

In [ ]:
list(data['value']* data['is_horizontal'])

In [59]:
total_forward = np.sum(data['value']* data['is_horizontal'])

In [60]:
total_forward

1970

In [61]:
data['downward'] = [1 if dir_ == 'down' else -1 if dir_ == 'up' else 0 for dir_ in data['direction']]
data.head()

  instruction direction  value  is_horizontal  downward
0   forward 2   forward      2              1         0
1      down 4      down      4              0         1
2      down 1      down      1              0         1
3      down 4      down      4              0         1
4   forward 3   forward      3              1         0

In [62]:
data.sample(10)

    instruction direction  value  is_horizontal  downward
910      down 6      down      6              0         1
85       down 3      down      3              0         1
165      down 4      down      4              0         1
25       down 1      down      1              0         1
328        up 2        up      2              0        -1
447   forward 7   forward      7              1         0
282      down 3      down      3              0         1
768        up 8        up      8              0        -1
549   forward 3   forward      3              1         0
383   forward 8   forward      8              1         0

In [63]:
total_depth = np.sum(data['value']* data['downward'])

total_depth

916

In [64]:
total_forward * total_depth

1804520

In [65]:
def calculate_final_position(data):
  data = deepcopy(data)
  instructions_pair = [instruction_.split(' ') for instruction_ in data['instruction']]

  direction = [pair_[0] for pair_ in instructions_pair]
  value = [int(pair_[1]) for pair_ in instructions_pair]

  data['direction'] = direction
  data['value'] = value

  data['is_horizontal'] = [1 if dir_ == 'forward' else 0 for dir_ in data['direction']]
  data['downward'] = [1 if dir_ == 'down' else -1 if dir_ == 'up' else 0 for dir_ in data['direction']]

  total_forward = np.sum(data['value']* data['is_horizontal'])
  total_depth = np.sum(data['value']* data['downward'])


  return total_forward * total_depth
  
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['instruction'])
calculate_final_position(data)

1804520

## Day 2 Part 2

In [4]:
data = pd.read_csv(filepath_or_buffer='./input.txt', delimiter='\n', names=['instruction'])
instructions_pair = [instruction_.split(' ') for instruction_ in data['instruction']]

direction = [pair_[0] for pair_ in instructions_pair]
value = [int(pair_[1]) for pair_ in instructions_pair]

data['direction'] = direction
data['value'] = value

data.head()

  instruction direction  value
0   forward 2   forward      2
1      down 4      down      4
2      down 1      down      1
3      down 4      down      4
4   forward 3   forward      3

In [5]:
data['downward'] = [1 if dir_ == 'down' else -1 if dir_ == 'up' else 0 for dir_ in data['direction']]
data.head(20)

   instruction direction  value  downward
0    forward 2   forward      2         0
1       down 4      down      4         1
2       down 1      down      1         1
3       down 4      down      4         1
4    forward 3   forward      3         0
5       down 6      down      6         1
6       down 5      down      5         1
7    forward 3   forward      3         0
8    forward 8   forward      8         0
9       down 2      down      2         1
10      down 3      down      3         1
11        up 8        up      8        -1
12      down 5      down      5         1
13        up 7        up      7        -1
14      down 7      down      7         1
15   forward 5   forward      5         0
16        up 2        up      2        -1
17      down 6      down      6         1
18   forward 7   forward      7         0
19   forward 1   forward      1         0

In [6]:
data['aim_increase'] = data['value'] * data['downward']

In [7]:
data.head(20)

   instruction direction  value  downward  aim_increase
0    forward 2   forward      2         0             0
1       down 4      down      4         1             4
2       down 1      down      1         1             1
3       down 4      down      4         1             4
4    forward 3   forward      3         0             0
5       down 6      down      6         1             6
6       down 5      down      5         1             5
7    forward 3   forward      3         0             0
8    forward 8   forward      8         0             0
9       down 2      down      2         1             2
10      down 3      down      3         1             3
11        up 8        up      8        -1            -8
12      down 5      down      5         1             5
13        up 7        up      7        -1            -7
14      down 7      down      7         1             7
15   forward 5   forward      5         0             0
16        up 2        up      2        -1            -2
17      down 6      down      6         1             6
18   forward 7   forward      7         0             0
19   forward 1   forward      1         0             0

In [8]:
data['current_aim'] = data['aim_increase'].cumsum()

In [9]:
data.head(20)

   instruction direction  value  downward  aim_increase  current_aim
0    forward 2   forward      2         0             0            0
1       down 4      down      4         1             4            4
2       down 1      down      1         1             1            5
3       down 4      down      4         1             4            9
4    forward 3   forward      3         0             0            9
5       down 6      down      6         1             6           15
6       down 5      down      5         1             5           20
7    forward 3   forward      3         0             0           20
8    forward 8   forward      8         0             0           20
9       down 2      down      2         1             2           22
10      down 3      down      3         1             3           25
11        up 8        up      8        -1            -8           17
12      down 5      down      5         1             5           22
13        up 7        up      7        -1            -7           15
14      down 7      down      7         1             7           22
15   forward 5   forward      5         0             0           22
16        up 2        up      2        -1            -2           20
17      down 6      down      6         1             6           26
18   forward 7   forward      7         0             0           26
19   forward 1   forward      1         0             0           26

In [10]:
data['is_horizontal'] = [1 if dir_ == 'forward' else 0 for dir_ in data['direction']]

In [11]:
data.head()

  instruction direction  value  ...  aim_increase  current_aim  is_horizontal
0   forward 2   forward      2  ...             0            0              1
1      down 4      down      4  ...             4            4              0
2      down 1      down      1  ...             1            5              0
3      down 4      down      4  ...             4            9              0
4   forward 3   forward      3  ...             0            9              1

[5 rows x 7 columns]

In [12]:
data['inc_horizontal'] = data['is_horizontal'] * data['value']

In [15]:
data['current_horizontal'] = data['inc_horizontal'].cumsum()

In [16]:
data.head(20)

   instruction direction  ...  inc_horizontal  current_horizontal
0    forward 2   forward  ...               2                   2
1       down 4      down  ...               0                   2
2       down 1      down  ...               0                   2
3       down 4      down  ...               0                   2
4    forward 3   forward  ...               3                   5
5       down 6      down  ...               0                   5
6       down 5      down  ...               0                   5
7    forward 3   forward  ...               3                   8
8    forward 8   forward  ...               8                  16
9       down 2      down  ...               0                  16
10      down 3      down  ...               0                  16
11        up 8        up  ...               0                  16
12      down 5      down  ...               0                  16
13        up 7        up  ...               0                  16
14      down 7      down  ...               0                  16
15   forward 5   forward  ...               5                  21
16        up 2        up  ...               0                  21
17      down 6      down  ...               0                  21
18   forward 7   forward  ...               7                  28
19   forward 1   forward  ...               1                  29

[20 rows x 9 columns]

In [17]:
data['depth_inc'] = data['current_aim'] * data['inc_horizontal']

In [18]:
data.head(20)

   instruction direction  value  ...  inc_horizontal  current_horizontal  depth_inc
0    forward 2   forward      2  ...               2                   2          0
1       down 4      down      4  ...               0                   2          0
2       down 1      down      1  ...               0                   2          0
3       down 4      down      4  ...               0                   2          0
4    forward 3   forward      3  ...               3                   5         27
5       down 6      down      6  ...               0                   5          0
6       down 5      down      5  ...               0                   5          0
7    forward 3   forward      3  ...               3                   8         60
8    forward 8   forward      8  ...               8                  16        160
9       down 2      down      2  ...               0                  16          0
10      down 3      down      3  ...               0                  16          0
11        up 8        up      8  ...               0                  16          0
12      down 5      down      5  ...               0                  16          0
13        up 7        up      7  ...               0                  16          0
14      down 7      down      7  ...               0                  16          0
15   forward 5   forward      5  ...               5                  21        110
16        up 2        up      2  ...               0                  21          0
17      down 6      down      6  ...               0                  21          0
18   forward 7   forward      7  ...               7                  28        182
19   forward 1   forward      1  ...               1                  29         26

[20 rows x 10 columns]

In [19]:
data['current_depth'] = data['depth_inc'].cumsum()

In [20]:
data.head(20)

   instruction direction  value  ...  current_horizontal  depth_inc  current_depth
0    forward 2   forward      2  ...                   2          0              0
1       down 4      down      4  ...                   2          0              0
2       down 1      down      1  ...                   2          0              0
3       down 4      down      4  ...                   2          0              0
4    forward 3   forward      3  ...                   5         27             27
5       down 6      down      6  ...                   5          0             27
6       down 5      down      5  ...                   5          0             27
7    forward 3   forward      3  ...                   8         60             87
8    forward 8   forward      8  ...                  16        160            247
9       down 2      down      2  ...                  16          0            247
10      down 3      down      3  ...                  16          0            247
11        up 8        up      8  ...                  16          0            247
12      down 5      down      5  ...                  16          0            247
13        up 7        up      7  ...                  16          0            247
14      down 7      down      7  ...                  16          0            247
15   forward 5   forward      5  ...                  21        110            357
16        up 2        up      2  ...                  21          0            357
17      down 6      down      6  ...                  21          0            357
18   forward 7   forward      7  ...                  28        182            539
19   forward 1   forward      1  ...                  29         26            565

[20 rows x 11 columns]

In [21]:
data.tail()

    instruction direction  value  ...  current_horizontal  depth_inc  current_depth
995      down 1      down      1  ...                1963          0         994210
996   forward 6   forward      6  ...                1969       5430         999640
997      down 6      down      6  ...                1969          0         999640
998      down 5      down      5  ...                1969          0         999640
999   forward 1   forward      1  ...                1970        916        1000556

[5 rows x 11 columns]

In [22]:
1970*1000556

1971095320