<a href="https://colab.research.google.com/github/ShaunakSen/problem-solving-with-code/blob/master/Practice_Python_and_SQL_Challenges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Codewars Problems

---

## Python

---

### Isograms


[link](https://www.codewars.com/kata/54ba84be607a92aa900000f1/train/python)

An isogram is a word that has no repeating letters, consecutive or non-consecutive. Implement a function that determines whether a string that contains only letters is an isogram. Assume the empty string is an isogram. Ignore letter case.

Test Cases:

``` python
Test.assert_equals(is_isogram("Dermatoglyphics"), True )
Test.assert_equals(is_isogram("isogram"), True )
Test.assert_equals(is_isogram("aba"), False, "same chars may not be adjacent" )
Test.assert_equals(is_isogram("moOse"), False, "same chars may not be same case" )
Test.assert_equals(is_isogram("isIsogram"), False )
Test.assert_equals(is_isogram(""), True, "an empty string is a valid isogram" )
```

In [0]:
def is_isogram(string):

    string_as_list = [letter.lower() for letter in string]
    return len(set(string_as_list)) == len(string_as_list)

test_str = 'Dermadtoglyphics'

is_isogram(test_str)

True

### Mumbling

[link](https://www.codewars.com/kata/5667e8f4e3f572a8f2000039/train/python)

```
accum("abcd") -> "A-Bb-Ccc-Dddd"
accum("RqaEzty") -> "R-Qq-Aaa-Eeee-Zzzzz-Tttttt-Yyyyyyy"
accum("cwAt") -> "C-Ww-Aaa-Tttt"
```

In [0]:
test_str = 'abcd'

'-'.join([test_str[idx].upper() + test_str[idx].lower()*idx for idx in range(len(test_str))])

'A-Bb-Ccc-Dddd'

### Jaden Casing Strings

Jaden Smith, the son of Will Smith, is the star of films such as The Karate Kid (2010) and After Earth (2013). Jaden is also known for some of his philosophy that he delivers via Twitter. When writing on Twitter, he is known for almost always capitalizing every word. For simplicity, you'll have to capitalize each word, check out how contractions are expected to be in the example below.

Your task is to convert strings to how they would be written by Jaden Smith. The strings are actual quotes from Jaden Smith, but they are not capitalized in the same way he originally typed them.

```
Not Jaden-Cased: "How can mirrors be real if our eyes aren't real"
Jaden-Cased:     "How Can Mirrors Be Real If Our Eyes Aren't Real"
```

In [0]:
'hey there'.capitalize()

'Hey there'

In [0]:
test_str = "How can mirrors be real if our eyes aren't real"

' '.join([word.capitalize() for word in test_str.split()])

"How Can Mirrors Be Real If Our Eyes Aren't Real"

### Binary Addition


Implement a function that adds two numbers together and returns their sum in binary. The conversion can be done before, or after the addition.

The binary number returned should be a string.

```
Test.assert_equals(add_binary(1,1),"10")
Test.assert_equals(add_binary(0,1),"1")
Test.assert_equals(add_binary(1,0),"1")
Test.assert_equals(add_binary(2,2),"100")
Test.assert_equals(add_binary(51,12),"111111")
```

In [0]:
def convert_to_binary(num):
    binary = []
    while num != 0:
        rem = num%2
        num = int(num/2)
        binary.append(rem)

    return binary

list(reversed(convert_to_binary(339)))

[1, 0, 1, 0, 1, 0, 0, 1, 1]

In [0]:
bin(339)[2:]

'101010011'

### Dubset 

[link](https://www.codewars.com/kata/551dc350bf4e526099000ae5/train/python)

Polycarpus works as a DJ in the best Berland nightclub, and he often uses dubstep music in his performance. Recently, he has decided to take a couple of old songs and make dubstep remixes from them.

Let's assume that a song consists of some number of words (that don't contain WUB). To make the dubstep remix of this song, Polycarpus inserts a certain number of words "WUB" before the first word of the song (the number may be zero), after the last word (the number may be zero), and between words (at least one between any pair of neighbouring words), and then the boy glues together all the words, including "WUB", in one string and plays the song at the club.

For example, a song with words "I AM X" can transform into a dubstep remix as "WUBWUBIWUBAMWUBWUBX" and cannot transform into "WUBWUBIAMWUBX".

Recently, Jonny has heard Polycarpus's new dubstep track, but since he isn't into modern music, he decided to find out what was the initial song that Polycarpus remixed. Help Jonny restore the original song.

```

song_decoder("WUBWEWUBAREWUBWUBTHEWUBCHAMPIONSWUBMYWUBFRIENDWUB")
  # =>  WE ARE THE CHAMPIONS MY FRIEND

Test.assert_equals(song_decoder("AWUBBWUBC"), "A B C","WUB should be replaced by 1 space")
Test.assert_equals(song_decoder("AWUBWUBWUBBWUBWUBWUBC"), "A B C","multiples WUB should be replaced by only 1 space")
Test.assert_equals(song_decoder("WUBAWUBBWUBCWUB"), "A B C","heading or trailing spaces should be removed")

```

In [0]:
test_str = "WUBWEWUBAREWUBWUBTHEWUBCHAMPIONSWUBMYWUBFRIENDWUB"

words = [word for word in test_str.split('WUB') if word.strip()!='']

' '.join(words)

'WE ARE THE CHAMPIONS MY FRIEND'

### Duplicate Encoder

[link](https://www.codewars.com/kata/54b42f9314d9229fd6000d9c/train/python)

The goal of this exercise is to convert a string to a new string where each character in the new string is "(" if that character appears only once in the original string, or ")" if that character appears more than once in the original string. Ignore capitalization when determining if a character is a duplicate.


```
"din"      =>  "((("
"recede"   =>  "()()()"
"Success"  =>  ")())())"
"(( @"     =>  "))((" 

```

In [0]:
'Success'.count('S')

1

In [0]:
test_str = 'Success'
test_str = test_str.lower()
hash_ = []

for letter in test_str:
    hash_.append(test_str.count(letter)>1)

print (hash_)

new_str = ''.join([')' if elem else '(' for elem in hash_])

new_str

[True, False, True, True, False, True, True]

')())())'

### Counting Duplicates

[link](https://www.codewars.com/kata/54bf1c2cd5b56cc47f0007a1/train/python)

Write a function that will return the count of distinct case-insensitive alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits.


```
Example
"abcde" -> 0 # no characters repeats more than once
"aabbcde" -> 2 # 'a' and 'b'
"aabBcde" -> 2 # 'a' occurs twice and 'b' twice (`b` and `B`)
"indivisibility" -> 1 # 'i' occurs six times
"Indivisibilities" -> 2 # 'i' occurs seven times and 's' occurs twice
"aA11" -> 2 # 'a' and '1'
"ABBA" -> 2 # 'A' and 'B' each occur twice
```

In [0]:
test_str = 'Indivisibilitie'
test_str = test_str.lower()

count=0
duplicates_seen = []
for letter in test_str:
    if test_str.count(letter) > 1 and letter not in duplicates_seen:
        count+=1
        duplicates_seen.append(letter)

print (count)

1

#### Better soln : use sets

In [0]:
count = 0
for letter in set(test_str):
    if test_str.count(letter) > 1:
        count +=1
print (count)

1

Converting the above code to list comprehension

In [0]:
test_str = test_str.lower()

print (sum([1 if test_str.count(letter) > 1 else 0 for letter in set(test_str)]))

1

### Multiples of 3 or 5

[link](https://www.codewars.com/kata/514b92a657cdc65150000006/train/python)

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in.

Note: If the number is a multiple of both 3 and 5, only count it once.


```
test.describe("Multiples of 3 and 5")
test.it("should handle basic cases")
test.assert_equals(solution(10), 23)
```

In [0]:
sum({1,23,})

24

In [0]:
n = 10

sum(set(list(range(3, n, 3)) + list(range(5, n, 5))))

23

### Expressions Matter

[link](https://www.codewars.com/kata/5ae62fcf252e66d44d00008e/train/python)


- Given three integers a ,b ,c, return the largest number obtained after inserting the following operators and brackets: +, *, ()

In other words , try every combination of a,b,c with [*+()] , and return the Maximum Obtained

With the numbers are 1, 2 and 3 , here are some ways of placing signs and brackets:

```
1 * (2 + 3) = 5
1 * 2 * 3 = 6
1 + 2 * 3 = 7
(1 + 2) * 3 = 9
```

So the maximum value that you can obtain is 9.

#### Dry runs

2,1,2 -> largest no at the end so `2*(1+2) or (2+1)*2` OR `2*1*2` like 3,5,7 -> `3*5*7`

General rule, if largest no at edge xyz and z is largest, `*z` is fixed, now it can be `(x+y)*z or (x*y)*z`
Similarly if x is largest `x*(y*z) OR x*(y+z)`

If y is largest y has to be mul, check `x*y*z` or `(x+y)*z` or `x*(y+z)` or `x+y+z` if x and z are both 1

if all eq, xxx return `x*x*x`, except 111 
if 1x1, return `1+x+1`

2,1,1 -> `2*(1+1)`
1,1,1 -> all eq so just mul all
1,2,3 -> (1+2)*3

1,3,1 -> largest no at mid so `1+3+1 or 1*3*1`

In [0]:
def expression_matter(a, b, c):
    ### case: 1x1
    if a==c==1:
        return a+b+c
    ### case xxx where x!=1
    elif a==b==c:
        return a*b*c
    ### case: largest no at edge a is largest
    elif a > b and a >= c:
        return max (a*b*c, a*(b+c))
    elif c > b and c >= a:
        return max(a*b*c, (a+b)*c)
    ### case: max no is in mid
    elif b>=a and b>=c:
        return max(a*b*c, (a+b)*c, a*(b+c))

    
    

expression_matter(7,7,6)

294

### Decode the Morse code (part 1)

[link](https://www.codewars.com/kata/54b724efac3d5402db00065e/train/python)

In this kata you have to write a simple Morse code decoder. While the Morse code is now mostly superseded by voice and digital data communication channels, it still has its use in some applications around the world.
The Morse code encodes every character as a sequence of "dots" and "dashes". For example, the letter A is coded as ·−, letter Q is coded as −−·−, and digit 1 is coded as ·−−−−. The Morse code is case-insensitive, traditionally capital letters are used. When the message is written in Morse code, a single space is used to separate the character codes and 3 spaces are used to separate words. For example, the message HEY JUDE in Morse code is ···· · −·−−   ·−−− ··− −·· ·.

NOTE: Extra spaces before or after the code have no meaning and should be ignored.

In addition to letters, digits and some punctuation, there are some special service codes, the most notorious of those is the international distress signal SOS (that was first issued by Titanic), that is coded as ···−−−···. These special codes are treated as single special characters, and usually are transmitted as separate words.

Your task is to implement a function that would take the morse code as input and return a decoded human-readable string.

For example:

```
decodeMorse('.... . -.--   .--- ..- -.. .')
#should return "HEY JUDE"
```

In [0]:
MORSE_CODE = {'.-': 'A', '-...': 'B', '-.-.': 'C', '-..': 'D', '.': 'E', '..-.': 'F', '--.': 'G', '....': 'H', '..': 'I', '.---': 'J', '-.-': 'K', '.-..': 'L', '--': 'M', '-.': 'N', '---': 'O', '.--.': 'P', '--.-': 'Q', '.-.': 'R', '...': 'S', '-': 'T', '..-': 'U', '...-': 'V', '.--': 'W', '-..-': 'X', '-.--': 'Y', '--..': 'Z', '-----': '0', '.----': '1', '..---': '2', '...--': '3', '....-': '4', '.....': '5', '-....': '6', '--...': '7', '---..': '8', '----.': '9', '.-.-.-': '.', '--..--': ',', '..--..': '?', '.----.': "'", '-.-.--': '!', '-..-.': '/', '-.--.': '(', '-.--.-': ')', '.-...': '&', '---...': ':', '-.-.-.': ';', '-...-': '=', '.-.-.': '+', '-....-': '-', '..--.-': '_', '.-..-.': '"', '...-..-': '$', '.--.-.': '@', '...---...': 'SOS'}

def decodeMorse(morse_code):
    morse_code = morse_code.strip()
    words = morse_code.split('   ')
    output = []

    for word_ in words:
        letters = word_.split()
        for letter_ in letters:
            decoded = MORSE_CODE[letter_]
            output.append(decoded)
        output.append(' ')
    return ''.join(output).strip()

decodeMorse('.... . -.--   .--- ..- -.. .')

'HEY JUDE'

### IQ Test

[link](https://www.codewars.com/kata/552c028c030765286c00007d/train/python)


Bob is preparing to pass IQ test. The most frequent task in this test is to find out which one of the given numbers differs from the others. Bob observed that one number usually differs from the others in evenness. Help Bob — to check his answers, he needs a program that among the given numbers finds one that is different in evenness, and return a position of this number.

! Keep in mind that your task is to help Bob solve a real IQ test, which means indexes of the elements start from 1 (not 0)

```
iq_test("2 4 7 8 10") => 3 // Third number is odd, while the rest of the numbers are even

iq_test("1 2 1 1") => 2 // Second number is even, while the rest of the numbers are odd
```

In [0]:
numbers = "2 4 7 8 10"

numbers = [int(num) for num in numbers.strip().split()]


odd_numbers = [no%2 for no in numbers]
num_odd = sum(odd_numbers)
if num_odd > 1:
    print (odd_numbers.index(0))
else:
    print (odd_numbers.index(1))

2

### Bouncing Balls

[link](https://www.codewars.com/kata/5544c7a5cb454edb3c000047/train/python)

A child is playing with a ball on the nth floor of a tall building. The height of this floor, h, is known.

He drops the ball out of the window. The ball bounces (for example), to two-thirds of its height (a bounce of 0.66).

His mother looks out of a window 1.5 meters from the ground.

How many times will the mother see the ball pass in front of her window (including when it's falling and bouncing?

Three conditions must be met for a valid experiment:

- Float parameter "h" in meters must be greater than 0
- Float parameter "bounce" must be greater than 0 and less than 1
- Float parameter "window" must be less than h.

If all three conditions above are fulfilled, return a positive integer, otherwise return -1.

Note:
The ball can only be seen if the height of the rebounding ball is strictly greater than the window parameter.

Example:

```
- h = 3, bounce = 0.66, window = 1.5, result is 3

- h = 3, bounce = 1, window = 1.5, result is -1 

(Condition 2) not fulfilled).
```

```
test.assert_equals(bouncingBall(3, 0.66, 1.5), 3)
test.assert_equals(bouncingBall(30, 0.66, 1.5), 15)
```

In [0]:
import math

In [0]:
math.ceil(7.2)

8

In [0]:
def bouncingBall(h, bounce, window):
    if h <=0 or bounce <=0 or bounce >=1 or window >= h:
        return -1
    num_bounces = math.ceil(math.log(window/h)/math.log(bounce))*2 - 1
    return num_bounces

bouncingBall(30,0.66,1.5)

-1

### Calculating with Functions

[link](https://www.codewars.com/kata/525f3eda17c7cd9f9e000b39/train/python)

This time we want to write calculations using functions and get the results. Let's have a look at some examples:

```
seven(times(five())) # must return 35
four(plus(nine())) # must return 13
eight(minus(three())) # must return 5
six(divided_by(two())) # must return 3
```

Requirements:

- There must be a function for each number from 0 ("zero") to 9 ("nine")
- There must be a function for each of the following mathematical operations: plus, minus, times, dividedBy (divided_by in Ruby and Python)
- Each calculation consist of exactly one operation and two numbers
- The most outer function represents the left operand, the most inner function represents the right operand
- Divison should be integer division. For example, this should return 2, not 2.666666...:

In [0]:
def zero(*args):
    if len(args) == 0:
        return 0
    else:
        l_operand = 0
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)

    
    
def one(*args): 
    if len(args) == 0:
        return 1
    else:
        l_operand = 1
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    
def two(*args): 
    if len(args) == 0:
        return 2
    else:
        l_operand = 2
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    
def three(*args): 
    if len(args) == 0:
        return 3
    else:
        l_operand = 3
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    
def four(*args): 
    if len(args) == 0:
        return 4
    else:
        l_operand = 4
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    
def five(*args): 
    if len(args) == 0:
        return 5
    else:
        l_operand = 5
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    
def six(*args): 
    if len(args) == 0:
        return 6
    else:
        l_operand = 6
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            return int(l_operand / r_operand)
    
def seven(*args): 
    if len(args) == 0:
        return 7
    else:
        l_operand = 7
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    
def eight(*args): 
    if len(args) == 0:
        return 8
    else:
        l_operand = 8
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    
def nine(*args): 
    if len(args) == 0:
        return 9
    else:
        l_operand = 9
        operator, r_operand = args[0][0], int(args[0][1])
        if operator == '+':
            return l_operand + r_operand  
        elif operator == '-':
            return l_operand - r_operand
        elif operator == '*':
            return l_operand * r_operand
        elif operator == '/':
            if r_operand == 0:
                return 0
            return int(l_operand / r_operand)
    

def plus(r_operand): 
    return '+', r_operand
def minus(r_operand): 
    return '-', r_operand
def times(r_operand): 
    return '*', r_operand
def divided_by(r_operand): 
    return '/', r_operand


print (seven(divided_by(zero())))

0

### Rot13

ROT13 is a simple letter substitution cipher that replaces a letter with the letter 13 letters after it in the alphabet. ROT13 is an example of the Caesar cipher.

Create a function that takes a string and returns the string ciphered with Rot13. If there are numbers or special characters included in the string, they should be returned as they are. Only letters from the latin/english alphabet should be shifted, like in the original Rot13 "implementation".

```
test.assert_equals(rot13("test"),"grfg")
test.assert_equals(rot13("Test"),"Grfg")
```

In [0]:
ord('a'), ord('A'), ord('Z'), ord('z')

(97, 65, 90, 122)

In [0]:
ord('t')+13-ord('a')

32

In [0]:
lower_left, lower_right, upper_left, upper_right = 97, 122, 65, 90

message = 'Test'

for char_ in message:
    if (ord(char_) >= lower_left and ord(char_) <= lower_right):
        new_char = ord(char)

###

## SQL Problems

---

### SQL Basics - Position

[link](https://www.codewars.com/kata/59401e0e54a655a298000040/train/sql)

You have access to a table of monsters as follows:

monsters schema

- id
- name
- legs
- arms
- characteristics

In each row, the characteristic column has a single comma. Your job is to find it using position(). You must return a table with the format as follows:

output schema

- id
- name
- comma

The comma column will contain the position of the comma within the characteristics string. Order the results by comma.

### Solution:

``` sql
SELECT id, name, POSITION(',' in characteristics) AS comma
FROM monsters
ORDER BY comma
```

### Easy SQL: ASCII Converter

Given a demographics table in the following format:

** demographics table schema **

- id
- name
- birthday
- race

you need to return the same table where all text fields (name & race) are changed to the ascii code of their first byte.

e.g. Verlie = 86 Warren = 87 Horace = 72 Tracy = 84

#### Solution:

``` sql
SELECT id, ASCII(LEFT(name, 1)) AS name, birthday, ASCII(LEFT(race, 1)) AS race
FROM demographics
```

### Easy SQL: Counting and Grouping

Given a demographics table in the following format:

** demographics table schema **

id

name

birthday

race

you need to return a table that shows a count of each race represented, ordered by the count in descending order as:

** output table schema **

race

count

#### Solution

```sql
SELECT race, COUNT(race) AS count
FROM demographics
GROUP BY race
ORDER BY count DESC
```

### SQL Basics: Simple EXISTS

For this challenge you need to create a SELECT statement, this SELECT statement will use an EXISTS to check whether a department has had a sale with a price over 98.00 dollars.

departments table schema

- id
- name


sales table schema

- id
- department_id (department foreign key)
- name
- price
- card_name
- card_number
- transaction_date

#### Solution

``` sql
SELECT id, name
FROM departments
WHERE EXISTS
(
  SELECT 1
  FROM sales
  WHERE departments.id = sales.department_id AND price > 98
)
```

### SQL Basics: Up and Down


Given a table of random numbers as follows:

** numbers table schema **

- id
- number1
- number2

Your job is to return table with similar structure and headings, where if the sum of a column is odd, the column shows the minimum value for that column, and when the sum is even, it shows the max value. You must use a case statement.

** output table schema **

- number1
- number2

```sql
SELECT 
  CASE 
    WHEN SUM(number1)%2=0 THEN MAX(number1)
    ELSE MIN(number1) 
  END AS number1,
  CASE 
    WHEN SUM(number2)%2=0 THEN MAX(number2)
    ELSE MIN(number2) 
  END AS number2

FROM numbers
```

### SQL Basics: Create a FUNCTION

[ref 1](https://www.javatpoint.com/postgresql-functions)

[ref 2](https://www.postgresqltutorial.com/postgresql-create-function/)

For this challenge you need to create a basic Increment function which Increments on the age field of the peoples table.

The function should be called increment, it needs to take 1 integer and increment that number by 1.

You may query the people table while testing but the query must only contain the function on your final submit.

important: you must remove all comments when submitting the kata.
people table schema

- id
- name
- age

#### Solution

```sql
CREATE FUNCTION increment(int_ integer) RETURNS integer AS $inc_int$
BEGIN
RETURN int_+1;
END; $inc_int$
LANGUAGE PLPGSQL;
```

### Conditional Count

[link](https://www.codewars.com/kata/5816a3ecf54413a113000074/train/sql)

Given a payment table, which is a part of DVD Rental Sample Database, with the following schema

```

Column       | Type                        | Modifiers
-------------+-----------------------------+----------
payment_id   | integer                     | not null 
customer_id  | smallint                    | not null
staff_id     | smallint                    | not null
rental_id    | integer                     | not null
amount       | numeric(5,2)                | not null
payment_date | timestamp without time zone | not null

```

produce a result set for the report that shows a side-by-side comparison of the number and total amounts of payments made in Mike's and Jon's stores broken down by months.

The resulting data set should be ordered by month using natural order (Jan, Feb, Mar, etc.).

Note: You don't need to worry about the year component. Months are never repeated because the sample data set contains payment information only for one year.

The desired output for the report

```
month | total_count | total_amount | mike_count | mike_amount | jon_count | jon_amount
------+-------------+--------------+------------+-------------+-----------+-----------
2     |             |              |            |             |           |           
5     |             |              |            |             |           |           
...
```
- month - number of the month (1 - January, 2 - February, etc.)
- total_count - total number of payments
- total_amount - total payment amount
- mike_count - total number of payments accepted by Mike (staff_id = 1)
- mike_amount - total amount of payments accepted by Mike (staff_id = 1)
- jon_count - total number of payments accepted by Jon (staff_id = 2)
- jon_amount - total amount of payments accepted by Jon (staff_id = 2)

#### Solution

```sql
WITH total_data AS (

SELECT COUNT(payment_id) AS total_count, SUM(amount) AS total_amount, DATE_PART('month', payment_date) AS month
FROM payment
GROUP BY DATE_PART('month', payment_date)
),
mike_data AS (
SELECT COUNT(payment_id) AS mike_count, SUM(amount) AS mike_amount, DATE_PART('month', payment_date) AS month
FROM payment
WHERE staff_id=1
GROUP BY DATE_PART('month', payment_date)
),
jon_data AS (
SELECT COUNT(payment_id) AS jon_count, SUM(amount) AS jon_amount, DATE_PART('month', payment_date) AS month
FROM payment
WHERE staff_id=2
GROUP BY DATE_PART('month', payment_date)
),
joined_data AS (
SELECT total_data.month, total_count, total_amount, mike_count, mike_amount, jon_count, jon_amount
FROM total_data
INNER JOIN mike_data
ON
total_data.month = mike_data.month
INNER JOIN jon_data
ON total_data.month = jon_data.month
)

SELECT * FROM joined_data
ORDER BY month

```

### SQL Bug Fixing: Fix the QUERY - Totaling

[link](https://www.codewars.com/kata/582cba7d3be8ce3a8300007c/train/sql)


Oh no! Timmys been moved into the database divison of his software company but as we know Timmy loves making mistakes. Help Timmy keep his job by fixing his query...

Timmy works for a statistical analysis company and has been given a task of totaling the number of sales on a given day grouped by each department name and then each day.

Resultant table:
- day (type: date) {group by} [order by asc]
- department (type: text) {group by} [In a real world situation it is bad practice to name a column after a table]
- sale_count (type: int)

Tables and relationship below:

![](https://i.imgur.com/kBkwsbi.png)

#### Solution

``` sql
SELECT DATE(transaction_date) AS day, department.name AS department, COUNT (DISTINCT sale.id) AS sale_count
FROM sale
JOIN department
ON sale.department_id = department.id
GROUP BY department, DATE(transaction_date)
ORDER BY day ASC
```

### Concept: SQL Window Functions

> [tutoral link](https://mode.com/sql-tutorial/sql-window-functions/)

> [tutoral link 2](https://learnsql.com/blog/sql-window-functions-examples/)



A window function performs a calculation across a set of table rows that are somehow related to the current row. This is comparable to the type of calculation that can be done with an aggregate function. **But unlike regular aggregate functions, use of a window function does not cause rows to become grouped into a single output row — the rows retain their separate identities**. Behind the scenes, the window function is able to access more than just the current row of the query result.


The most practical example of this is a running total:

```sql
SELECT duration_seconds,
       SUM(duration_seconds) OVER (ORDER BY start_time) AS running_total
  FROM tutorial.dc_bikeshare_q1_2012
```

You can see that the above query creates an aggregation (running_total) without using GROUP BY. Let's break down the syntax and see how it works.

Window functions are similar to AGGREGATE FUNCTIONS, but there is one important difference. When we use aggregate functions with the GROUP BY clause, we “lose” the individual rows. We can’t mix attributes from an individual row with the results of an aggregate function; the function is performed on the rows as an entire group. This is not the case when we use SQL window functions: we can generate a result set with some attributes of an individual row together with the results of the window function. This is good for new SQL developers to keep in mind. So let’s examine a simple SQL window function example in action.


Window functions can be called in the SELECT statement or in the ORDER BY clause. However, they can never be called in the WHERE clause. You’ll notice that all the examples in this article call the window function in the SELECT column list.

Let’s go to the first SQL window function example. We will use the “Employee” table:

<img src='./img/diag1.png'>

We will begin with RANK, which is one of the simplest SQL window functions example. It returns the position of any row inside the partition. Let’s use it to rank salaries within departments:

```sql
SELECT	
		RANK() OVER (PARTITION BY department ORDER BY salary DESC) 
			AS dept_ranking,
		department,
		employee_id, 
		full_name, 
		salary
FROM employee;
```

We can see the results below:

<img src='./img/diag2.png'>


Proceeding with our SQL window function example, let’s find out where each employee’s salary ranks in relation to the top salary of their department. This calls for a math expression, like:

`employee_salary / max_salary_in_depth`

The next query will show all employees ordered by the above metric; the employees with the lowest salary (relative to their highest departmental salary) will be listed first:
```sql
SELECT  employee_id, 
	     full_name, 
	     department,
	     salary,
	     salary / MAX(salary) OVER (PARTITION BY department ORDER BY salary DESC) 
			AS salary_metric
FROM employee
ORDER BY 5;
```


NOTE: the above is an example of using a WINDOW with a custom metric and not just the built-in functions

<img src='./img/diag3.png'>


#### Another SQL Window Function Example


Let’s switch from an employee-salary database to the following train schedule database:

<img src='./img/diag4.png'>


Suppose we want to add a new column called “time to next station”. To obtain this value, we subtract the station times for pairs of contiguous stations. We can calculate this value without using a SQL window function, but that can be very complicated. It’s simpler to do it using the LEAD window function. This function compares values from one row with the next row to come up with a result.  In this case, it compares the values in the “time” column for a station with the station immediately after it.

So, here we have another SQL window function example, this time for the train schedule:

```sql
SELECT 
	train_id, 
	station,
	time as "station_time",
	lead(time) OVER (PARTITION BY train_id ORDER BY time) - time 
		AS time_to_next_station
FROM train_schedule;
```

Note that we calculate the LEAD window function by using an expression involving an individual column and a window function; this is not possible with aggregate functions.

Here are the results of that query:

<img src='./img/diag5.png'>

SQL Server LEAD() is a window function that provides access to a row at a specified physical offset which follows the current row.

For example, by using the LEAD() function, from the current row, you can access data of the next row, or the row after the next row, and so on.

The LEAD() function can be very useful for comparing the value of the current row with the value of the following row.

In the next example, we will add a new column that shows how much time has elapsed from the train’s first stop to the current station. We will call it “elapsed travel time”. The MIN window function will obtain the trip’s start time and we will subtract the current station time. Here’s the next SQL window function example

```sql
SELECT 	
	train_id, 
	station,
	time as "station_time",
	time - min(time) OVER (PARTITION BY train_id ORDER BY time) 	
								AS elapsed_travel_time,
	lead(time) OVER (PARTITION BY train_id ORDER BY time) - time 
								AS time_to_next_station
FROM train_schedule;
```

<img src='./img/diag6.png'>

## SQL Leetcode

> https://leetcode.com/problems/department-top-three-salaries/

### Department Top Three Salaries

Solution:

```
# Write your MySQL query statement below
WITH cte AS (
SELECT d.name as "Department", e.name as "Employee", salary FROM Employee e
INNER JOIN Department d
ON e.departmentId = d.id
), cte2 AS (
SELECT Department, Employee, salary,
DENSE_RANK() OVER(PARTITION BY Department ORDER BY salary DESC) as "rank"
FROM cte
)
SELECT Department, Employee, salary FROM cte2
WHERE `rank` < 4

```

## FB SQL question

For each day print out user with highest received/sent ratio

> https://www.youtube.com/watch?v=XOJk0AKIqv8

--- 

![](https://i.imgur.com/B28Qzrn.png)

1. Compute day and reqd received/sent ratio:

![](https://i.imgur.com/DhieS6A.png )

3. Compute rank over each day as a partition and order by the ratio DESC

![](https://i.imgur.com/g6dX1b7.png)

4. Select reqd cols for o/p

![](https://i.imgur.com/Go231DU.png)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=c9f7b205-46e2-4f7d-8027-1722d788f5d8' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>