## Group by: split-apply-combine

> https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html

In [5]:
import pandas as pd
import numpy as np

In [6]:
speeds = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [7]:
speeds

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [12]:
for group_name, group in speeds.groupby("class"):
    print (group_name)
    print ("::::")
    print (group)
    print ("-----------------")

bird
::::
       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0
-----------------
mammal
::::
          class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0
-----------------

In [13]:
for group_name, group in speeds.groupby(["class", "order"]):
    print (group_name)
    print ("::::")
    print (group)
    print ("-----------------")

('bird', 'Falconiformes')
::::
       class          order  max_speed
falcon  bird  Falconiformes      389.0
-----------------
('bird', 'Psittaciformes')
::::
       class           order  max_speed
parrot  bird  Psittaciformes       24.0
-----------------
('mammal', 'Carnivora')
::::
          class      order  max_speed
lion     mammal  Carnivora       80.2
leopard  mammal  Carnivora       58.0
-----------------
('mammal', 'Primates')
::::
         class     order  max_speed
monkey  mammal  Primates        NaN
-----------------