### 5. How much have refunds cost us?

> https://sql.datainterview.com/

---

Well no business likes giving money back via refunds...but the customer is always right... right? You are on the finace DS team at Uber and looking to quantify in dollars how much refunds have cost the business. Calculate the total refund amount Uber has paid back. Round answer to 2 decimals if needed. total_refunded = (surcharge * base fare) * trip miles.



Source Tables:

Visualize the table definitions prior to formalizing your solution. Click the icon to see into the table's data.
```
uber_refunds	
trip_id	bigint
refund_reason	varchar

```
```
uber_fct_trips	
ride_id	bigint
rider_id	bigint
driver_id	bigint
pickup_loc	varchar
dropoff_loc	varchar
city	varchar
ride_type	varchar
vehicle_type	varchar
destination_type	varchar
num_of_passengers	bigint
surcharge	double
base_fare	double
trip_miles	double
trip_request_at	timestamp
service_match_time	varchar
```

Solution:

```sql
WITH cte AS
(
  SELECT uber_refunds.trip_id, 
    surcharge * base_fare * trip_miles AS refund_cost
  FROM uber_refunds
  INNER JOIN uber_fct_trips
  ON uber_refunds.trip_id = uber_fct_trips.ride_id
),
cte2 
AS
(
    SELECT trip_id, FIRST(refund_cost) AS refund_cost -- in case there are duplicates
    FROM cte
    GROUP BY trip_id
)

-- round and return
SELECT ROUND(SUM(refund_cost), 2) AS total_refunded FROM cte2
```